@page "/examples/sprite/tiling-sprite"
@using SpawnDev.BlazorJS.JSObjects
@using SpawnDev.BlazorJS.PixiJS
@using static SpawnDev.BlazorJS.PixiJS.PIXI
@implements IDisposable

<h3>Tiling Sprite Example</h3>
<p>Scrolling background using TilingSprite...</p>
<div @ref="containerElRef" style="width: 800px; height: 600px;"></div>

@code {
    [Inject] BlazorJSRuntime JS { get; set; } = default!;
    ElementReference? containerElRef;
    Application? app;
    TilingSprite? tilingSprite;
    double count = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Init();
        }
    }

    async Task Init()
    {
        app = new Application();
        await app.Init(new ApplicationOptions { Background = "#1099bb", ResizeTo = containerElRef });
        
        using var htmlElement = new HTMLElement(containerElRef!.Value);
        htmlElement!.AppendChild(app!.Canvas);

        var texture = await PIXI.Assets.Load<Texture>("assets/p2.jpeg");

        tilingSprite = new TilingSprite(texture, app.Screen.Width, app.Screen.Height);
        
        app.Stage!.AddChild(tilingSprite);

        app.Ticker.Add(OnTick);
    }

    void OnTick(Ticker ticker)
    {
        if (tilingSprite != null)
        {
            count += 0.005;
            tilingSprite.TileScale.X = 2 + (float)Math.Sin(count);
            tilingSprite.TileScale.Y = 2 + (float)Math.Cos(count);

            tilingSprite.TilePosition.X += 1;
            tilingSprite.TilePosition.Y += 1;
        }
    }

    public void Dispose()
    {
        if (app != null)
        {
            app.Ticker.Remove(OnTick);
            app.Dispose();
            app = null;
        }
        if (tilingSprite != null)
        {
            tilingSprite.Dispose();
            tilingSprite = null;
        }
    }
}
