@page "/examples/basic/bitmap-text"

@using SpawnDev.BlazorJS
@using SpawnDev.BlazorJS.JSObjects
@using static SpawnDev.BlazorJS.PixiJS.PIXI
@using SpawnDev.BlazorJS.PixiJS
@using SpawnDev.BlazorJS.JsonConverters
@implements IDisposable

<div class="container">
    <p>
        Source: <a href="https://pixijs.com/8.x/examples/text/bitmap-text">Bitmap Text Example</a>
    </p>
    <div style="width: 700px; height: 400px;" @ref="containerElRef"></div>
</div>
@code {
    [Inject]
    BlazorJSRuntime JS { get; set; }
    ElementReference containerElRef;
    Application? app = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Init();
        }
    }
    async Task Init()
    {
        using var document = JS.GetDocument();

        // Create a new application
        app = new Application();

        // Initialize the application
        await app.Init(new ApplicationOptions { Background = "#1099bb", ResizeTo = containerElRef });

        // Append the application canvas to the document body
        using var htmlElement = new HTMLElement(containerElRef);
        htmlElement!.AppendChild(app.Canvas);

        await PIXI.Assets.Load("https://pixijs.com/assets/bitmap-font/desyrel.xml");

        var bitmapFontText = new BitmapText(new TextOptions
        {
            Text = "bitmap fonts are supported!\nWoo yay!",
            Style = new PIXI.TextStyleOptions
            {
                FontFamily = "Desyrel",
                FontSize = 55,
                Align = "left",
            },
        });

        bitmapFontText.X = 50;
        bitmapFontText.Y = 200;

        app.Stage!.AddChild(bitmapFontText);
    }
    public void Dispose()
    {
        if (app != null)
        {
            app.Dispose();
        }
    }
}
